      .navbar-default {
                        background-color: #15284e;
                        border-color: #15284e;
                    }
                       .logowidth{
                        width: 200px;
                    }
                   


 ul a + ul { 
display: none; 
}
ul a.open + ul { display: block; 
}
body{
  background-color: gray;
}
.menu{
  background-color: red;
}
 ul {
    list-style-type: none;
  }
   ul li{
    float: left;
    position: relative;
    width: 100px;
    height: 50px;
    border: 0px solid silver;
    line-height: 50px;
    text-align: center;
    opacity: 1.5;
  }
   ul li:hover{
    background-color: orange;
  }
   ul ul{
    display: none;
  }
   ul li:hover >ul{
    display: block;
  }
   ul ul ul{
    margin-left: 100px;
    top: 0px;
    position: absolute;
  }
  li a{
    color: black;
  }
  .selected{
    background-color: orange !important;
    color: white;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
     border: 1px solid transparent; 
}
.blue{
   background-color: #15284e;
}
.sub-menu{
  background-color: orange;
  border: 1px solid white;
}