
<section class="content-wrapper clear-both">
	<div class="container">
	<div class="row">
    <section id="page-title-wrapper" class="page-title-wrapper">
        <div class=" pdg0">
            <div class="col-md-12 pdg0">
                <div class="col-sm-6 pdlt0">
                 <h1 class="main-content-heading">WORLD CLASS HELER </h1>
             </div>
             <!-- /.col-sm-6 -->
             <div class="col-xs-6 hidden-xs pdg0">
                <ul class="breadcrumb pull-right"><li><a href="/">Home</a></li>
<li class="active">WORLD CLASS HELER</li>
</ul>                </div>
                <!-- /.col-xs-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</div>

<style>
    h1.main-content-heading {
        font-size : 16px;
        margin-top : 10px!important;
    }
</style>

	<div class="row mrgntp30">
		<div class="col-md-12 cms-contentpage">
        <p [ngClass]="{'red':true,'background-color':false}">Ahitisham this is a 1 directive [ngClass]</p>
                <p [ngClass]="classes">[ngClass]=i am calling class from ts file as a object</p>

			<p>Heler is a “state-of-the-art” tertiary care non-invasive Dermatology &amp; Aesthetic clinic for men women and children. We offer complete solutions for all your skin, hair and intimate disorders. &nbsp;</p>

<p style="text-align:justify" >Heler is a unique facility offering some of “The First Services” in India like Web Consultation and Vulvo Vaginal Laser Rejuvenation. We offer a complete array of Aesthetic services, Bridal services, Cosmetic procedures, Dermatological treatments and Lifestyle procedures.</p>

<p style="text-align:justify">We are extremely proud to announce our initiation in the development of a software, <span style="color:#AA002D"><strong>Web-Consultation</strong></span>. An extremely engaging and simple way of consulting with your preferred Doctor, remotely. We are very clear though, this will be for conditions which do not require “touch and feel”. An extremely powerful tool in this world of busy schedules, time commitments and unpardoning traffic. We are aware of the challenges in executing this ‘first of its kind Medical Software’. We are armoured to face the challenges in real time and seek your full support in making this tool a reality.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">We are also proud to address some of the intimate disorders like post-menopausal dryness, urinary incontinence, vaginal atrophy and hypertrophy through “FEM TOUCH” a remarkable piece of technology in the field of Non-Invasive Lasers that offers unbelievable results. We call this lunch time procedure, <span style="color:#AA002D"><strong>Lifestyle Treatment</strong></span>.</p>

<p style="text-align:justify"><br>
At Heler we have every reason to believe that our clients would find our services exceptionally satisfying. All our services and procedures are delivered by highly experienced professionals-including Dermatologists, Internal Medicine Specialists, Gynaecologists, Urologist, Nurses and trained Aestheticians - each with at least 5 years of experience. We start with detailed analysis of your condition and expectations, optimising services in accordance with your wishes. If you’re looking for the highest calibre of care, you’ve come to the right place. You can be sure of complete confidentiality, provided in our discreet and welcoming atmosphere.</p>

<p style="text-align:justify">We are focused on Non-Surgical procedures ranging from routine peels to comprehensive laser treatments. We have a support of in-house diagnostics and pharmacy.&nbsp;</p>

<p style="text-align:justify">Heler provides un-paralleled and accessible “World Class” treatment and service in the field of aesthetics using the most advanced and latest technology, with an emphasis on highest standard of patient safety. We hope to elevate the bar in delivering an authentic patient experience. We feel privileged that you have entrusted your care and we take this responsibility very seriously.&nbsp;</p>

<p style="text-align:justify">&nbsp;</p>

<p>&nbsp;</p>
		</div>
	</div>
	</div>
</section>