<p [ngClass]="{'blue':true}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vel voluptate perspiciatis facilis qui dolorum, repellendus consectetur inventore ipsam recusandae laboriosam dolorem reiciendis officia dignissimos distinctio error in, illo ipsa.</p>
<p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sint, reiciendis commodi obcaecati aspernatur, tempora adipisci vel rem ipsum fugiat ut eligendi consectetur magni aliquid autem natus fuga quisquam enim?</p>
<p>hey my name is ahitishM GET IT</P>
<p>no i am no getting</p>
